<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body style="margin:50px">
    <h1>SIGN UP</h1>
    <form action="/signup" method="post">
        <div>
            <label>이메일</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>별명</label>
            <input type="text" name="name">
        </div>

        <button type="submit">회원가입</button>
    </form>
</body>

</html>